body {
  margin: 0;
  background: #ffffff;
  font: 16px 'PT Sans', sans-serif;
  color: #252e39;
}

.module .heading {
  background: #eb5346;
  border-bottom: 1px solid #515861;
  color: #fff;
  text-align: center;
  position: relative;
  padding-top: 25px;
  padding-bottom: 14px;
  margin-bottom: 86px;
}

.module .heading:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #252e39;
  position: absolute;
  bottom: 0;
  left: 0;
}

.module .heading h1 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
}

.module .heading h1:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 39px;
  height: 54px;
  background: url(../img/shield.png) no-repeat;
  margin-right: 22px;
}

.module .container {
  max-width: 1127px;
  margin: 0 auto;
  padding: 0 28px;
}

.module .car-classes {
  overflow: hidden;
}

.module .car-classes .car-category {
  float: left;
  width: 33.33333%;
  text-align: center;
}

.module .car-classes .car-category.active:after {
  content: '';
  display: block;
  margin: 7px auto 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 23px 16.5px 0 16.5px;
  border-color: #eb5446 transparent transparent transparent;
}

.module .car-classes h2 {
  width: 210px;
  color: #fff;
  font-size: 22px;
  margin: 0 auto 73px;
  font-weight: 700;
  text-transform: uppercase;
  background: #252e39;
  border: 1px solid #7c8288;
  border-width: 1px 0;
}

.module .car-classes .car-img {
  width: 100%;
  margin-bottom: 77px;
}

.module .car-classes .info {
  max-width: 309px;
  display: block;
  padding: 0 5px;
  white-space: nowrap;
  line-height: 33px;
  background: #eb5346;
  font-weight: 700;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
}

.module .car-parametrs {
  display: none;
}

.module .car-parametrs.active {
  display: inherit;
}

.module .car-parametrs .param-nav {
  float: right;
  width: calc(392px - 98px);
  padding-left: 16px;
  padding-right: 82px;
}

.module .car-parametrs .param-nav li {
  cursor: pointer;
}

.module .car-parametrs .img-area {
  float: left;
  width: 58%;
  display: none;
}

.module .car-parametrs .img-area.active {
  display: inherit;
}

.module .car-parametrs .img-area img {
  max-width: 100%;
}

.module .car-parametrs .price-row {
  margin-left: 8%;
}

.module .car-parametrs .price-row span {
  font-size: 22px;
  color: #eb5346;
}

.module .car-parametrs .price-row em {
  font-style: normal;
  color: #252e39;
  font-size: 16px;
  float: left;
}

.module .car-parametrs .price-row strong {
  color: #eb5346;
  font-size: 18px;
  float: right;
  white-space: nowrap;
}

.module .car-parametrs .price-row .btn {
  display: block;
  line-height: 40px;
  white-space: nowrap;
  padding: 0 53px;
  background: #252e39;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  float: right;
  margin-left: 52px;
}

.module .car-parametrs .price-row .price-container {
  border-top: 1px solid #252e39;
  overflow: hidden;
}
